body {
    font-size: 10pt;

    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

    color: black;

    line-height: 14pt;

    padding-left: 5pt;

    padding-right: 5pt;
}
.content {
    margin: auto;
    width: 60%;
    border: 3px solid #ccffb3;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    height: 90vh;
}

h1 {
    font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;

    font-weight: bold;

    line-height: 20pt;
}
table {
    padding-top: 10px;
    padding-bottom: 10px;
}
td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

a:link,
a:visited {
    color: #8094d6;
}

label {
    padding-top: 10px;
}
div {
    padding-top: 5px;
}

button {
    display: inline-block;
}

.right {
    float: right;
}

.bad {
    box-shadow: 0 0 5px #ff0000;
}
.normal {
    box-shadow: 000;
}
